[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.2.1"
"beautifulsoup4" = "==4.6.0"
numpy = "==1.14.5"
opencv-python = "==3.4.1.15"
"pywin32" = "==223"

[dev-packages]

[requires]
python_version = "3.6"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
