[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.2.1"
"beautifulsoup4" = "==4.6.0"
numpy = "==1.14.5"
opencv-python = "==3.4.1.15"
"pywin32" = "==223"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
